.expense-list ul {
  margin: 20px 0 0; }

.expense-list li {
  display: table;
  width: 80%;
  margin: 0 auto 5px;
  table-layout: fixed; }
  .expense-list li button {
    margin: 0 0 0 10px; }
  .expense-list li > * {
    display: table-cell; }
